# Python / env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env
.env.*
.vscode/
.idea/
*.sqlite3
dist/
build/
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/

# Docker
docker-compose.override.yml
.env.local
